<button [matMenuTriggerFor]="appsMenu" mat-icon-button type="button">
    <mat-icon>apps</mat-icon>
</button>

<mat-menu #appsMenu="matMenu" class="info-booth-menu">

    <header class="p-4" fxLayout="row" fxLayoutAlign="center center">
        <form fxLayout="row" fxLayoutAlign="center center">
            <mat-icon class="mr-4">search</mat-icon>
            <mat-form-field>
                <input (click)="$event.stopPropagation();" [formControl]="searchInput" fxFlex matInput placeholder="Search
                    apps">
            </mat-form-field>
        </form>
    </header>

    <div class="apps" fxLayout="row wrap" fxLayoutAlign="start start">
        <div *ngFor="let app of apps" class="app p-12" fxFlex="33"
            fxLayout="column" fxLayoutAlign="center center">
            <a [href]="app.link" target="_blank">
                <img [alt]="app.name" [src]="app.path" height="40" width="70">
            </a>
        </div>
    </div>

</mat-menu>