<div #userTable class="users-tables">
  <ngx-datatable
    [columnMode]="'force'"
    [footerHeight]="56"
    [headerHeight]="48"
    [reorderable]="true"
    [rowHeight]="'auto'"
    [rows]="users"
    [scrollbarH]="true"
    class="material">
    <ngx-datatable-column name="Name" prop="fullName"> </ngx-datatable-column>
    <ngx-datatable-column name="Email" prop="email"> </ngx-datatable-column>
    <ngx-datatable-column name="Role" prop="role"> </ngx-datatable-column>
    <ngx-datatable-column name="id">
      <ng-template let-column="column" ngx-datatable-header-template>
        Actions
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <button mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
