<div fxFlex fxLayout="column" style="width: 100%; padding: 24px;">

  <div fxLayout="row" fxLayoutAlign="center center">
    <p style="font-weight: bold">***Lazy Loaded Component***</p>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="mat-elevation-z2" fxFlex.gt-md="60" fxFlex="100" style="padding:
      16px; background-color: white;">
      <input (keyup)="applyFilter($event.target.value)" matInput
        placeholder="Filter Elements">
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" style="padding-top: 10px;">
    <div class="mat-elevation-z2" fxFlex.gt-md="60" fxFlex="100">
      <table #table [dataSource]="dataSource" aria-label="Elements" mat-table
        matSort>
        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" mat-cell>
            <mat-checkbox (change)="$event ?
              selection.toggle(row) : null" (click)="$event.stopPropagation()"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Id</th>
          <td *matCellDef="let row" mat-cell>{{row.id}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
          <td *matCellDef="let row" mat-cell>{{row.name}}</td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr (click)="selection.toggle(row)" *matRowDef="let row; columns: displayedColumns;"
          mat-row>
        </tr>
      </table>

      <div [style.display]="dataSource?.renderedData.length == 0 ? '' : 'none'"
        class="example-no-results">
        No records found matching filter.
      </div>
      <mat-paginator #paginator [length]="dataSource.filteredData.length"
        [pageIndex]="0" [pageSizeOptions]="[10, 20, 25, 50, 100,
        250]" [pageSize]="10"
        showFirstLastButtons>
      </mat-paginator>
    </div>

  </div>

</div>
