<div class="w-100-p" fxLayout="column" fxLayoutAlign="start start" id="home">
  <div class="content p-24 w-100-p" fxFlex="100" fxLayout="row wrap"
    fxLayoutAlign="start start">

    <div class="p-8 w-100-p" fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex="100">
      <mat-card class="w-100-p" fxLayout="column" fxLayoutAlign="start start">
        <mat-card-header>
          <mat-card-title>Welcome to Angular Seed Project (NGRX)</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>
              <h4>Features:</h4>
              <ul>
                <li>Common Grid Layout</li>
                <li>Lazy Loaded Table Component with pagination, sorting and
                  filtering features.</li>
                <li>Defined set of
                  <a
                    href='http://svn.vrtx.com/viewvc/webdev/angular_skeleton/trunk/src/app/core/services'>Core
                    Services</a>
                  - HttpInterceptor, Exception and Toast services
                </li>
                <li>Defined set of Core and Shared Services and app organization
                  as per Angular Style guide.</li>
                <li>List of Library used and documentation Link under Feature
                  component</li>
              </ul>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="p-8 w-100-p" fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex="100">
      <mat-card class="w-100-p" fxLayout="column" fxLayoutAlign="start start">
        <mat-card-header>
          <mat-card-title>Core Actions</mat-card-title>
          <mat-card-subtitle>Confirm Dialog | Colors Sheet | Toast Messages</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="row wrap" fxLayoutGap="20px">
            <div fxLayout="row">
              <div class="p-4" fxFlex>
                <h4>Confirm</h4>
                <button (click)="showConfirmDialog()" mat-raised-button>Confirm</button>
              </div>
              <div class="p-4" fxFlex>
                <h4>Colors</h4>
                <button (click)="openColorSheet()" mat-raised-button>Colors</button>
              </div>
            </div>
            <div fxFlex fxLayout="row">
              <div fxLayout="column">
                <h4>Toast Messages button</h4>
                <div fxLayout="row wrap">
                  <div class="button p-4" fxFlex fxLayout="column">
                    <button (click)="showInfo()" mat-raised-button
                      style="color:#2F96B4">Info Toast</button>
                  </div>
                  <div class="button p-4" fxFlex fxLayout="column">
                    <button (click)="showWarning()" mat-raised-button
                      style="color:#F89406">Warning Toast</button>
                  </div>
                  <div class="button p-4" fxFlex fxLayout="column">
                    <button (click)="showSuccess()" mat-raised-button
                      style="color:#51A351">Success Toast</button>
                  </div>
                  <div class="button p-4" fxFlex fxLayout="column">
                    <button (click)="showError()" mat-raised-button
                      style="color:#BD362F">Error Toast</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>