<div id="features" fxLayout="column" fxLayoutAlign="center center">
  <div class="header" fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center">
    <h2>Features</h2>
  </div>
  <div class="content px-24" fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center">

    <div *ngFor="let feature of features" fxFlex="100" fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-sm="50">
        <mat-card class="card m-8" fxLayout="column" fxLayoutAlign="center center">
          <mat-card-title>
            <code *ngIf="feature.version">{{feature.version}}</code>{{ feature.title }}</mat-card-title>
          <mat-card-subtitle align="center">
            {{ feature.subTitle }}
          </mat-card-subtitle>
          <mat-card-actions>
            <a *ngIf="feature.gitHubUrl" mat-icon-button [href]="feature.gitHubUrl" target="_blank">
              <mat-icon fontSet="fab" fontIcon="fa-github"></mat-icon>
            </a>
            <a *ngIf="feature.documentationUrl" mat-button [href]="feature.documentationUrl" target="_blank">
              <mat-icon fontSet="fas" fontIcon="fa-book"></mat-icon>
              Docs
            </a>
            <a *ngIf="feature.guideUrl" mat-button [href]="feature.guideUrl" target="_blank">
              <mat-icon fontSet="fab" fontIcon="fa-medium-m"></mat-icon>
              Guide
            </a>
          </mat-card-actions>
        </mat-card>
    </div>
  </div>
</div>
