<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="m-0" style="background: transparent;">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">Edit User</span>
      <button mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div mat-dialog-content class="p-0 m-0">
    <div class="p-24">
      <!-- USER FULL NAME -->
      <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
        <mat-form-field class="w-100-p">
          <input matInput placeholder="User Name" readonly />
        </mat-form-field>
      </div>
      <!-- / USER FULL NAME -->

      <!-- PERMISSION -->
      <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
        <mat-form-field class="w-100-p">
          <mat-select>
            <mat-option value="User">User</mat-option>
            <mat-option value="Administrator">Administrator</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- / PERMISSION -->

      <div fxLayout="row" fxFill fxLayoutAlign="end center">
        <button mat-raised-button color="primary">SAVE</button>
      </div>
    </div>
  </div>
</div>
