<div class="dialog-content-wrapper">
  <mat-toolbar class="m-0" matDialogTitle style="background: transparent;">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">Edit User</span>
      <button (click)="dialogRef.close()" aria-label="Close dialog" class="mat-icon-button"
        mat-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div class="p-0 m-0" mat-dialog-content>
    <div class="p-24">
      <!-- USER FULL NAME -->
      <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field class="w-100-p">
          <input matInput placeholder="User Name" readonly />
        </mat-form-field>
      </div>
      <!-- / USER FULL NAME -->

      <!-- PERMISSION -->
      <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field class="w-100-p">
          <mat-select>
            <mat-option value="User">User</mat-option>
            <mat-option value="Administrator">Administrator</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- / PERMISSION -->

      <div fxFill fxLayout="row" fxLayoutAlign="end center">
        <button color="primary" mat-raised-button>SAVE</button>
      </div>
    </div>
  </div>
</div>
