<div class="dialog-content-wrapper">
  <mat-toolbar class="m-0" matDialogTitle style="background: transparent;">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">Add User</span>
      <button (click)="dialogRef.close()" aria-label="Close dialog" class="mat-icon-button"
        mat-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div class="p-0 m-0" mat-dialog-content>
    <div class="px-24">
      <form>
        <!-- EMPLOYEE SEARCH -->
        <mat-form-field class="w-100-p">
          <input
            [formControl]="userCtrl"
            [matAutocomplete]="auto"
            matInput
            placeholder="Search Employees"
            type="text"
            />

          <mat-autocomplete #auto="matAutocomplete">
            <div>
              <mat-option>
                <span>Name</span>
              </mat-option>
            </div>
          </mat-autocomplete>
        </mat-form-field>
        <!-- / EMPLOYEE SEARCH -->

        <!-- PERMISSION -->
        <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field class="w-100-p">
            <mat-select>
              <mat-option value="User">User</mat-option>
              <mat-option value="Administrator">Administrator</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- / PERMISSION -->
      </form>

      <div fxFill fxLayout="row" fxLayoutAlign="end center">
        <button color="primary" mat-raised-button>ADD</button>
      </div>
    </div>
  </div>
</div>
