/* ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 9px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-ripple {
  height: 0;
} */
