<mat-list style="padding: 0; margin: 0;">

  <div fxLayout="row" style="padding: 0; margin: 0;" fxLayoutAlign="space-between center">
    <img src="../assets/img/logo/LaunchLogoAngular.png" class="logo cursorpointer" routerLink="/home" />
    <h2 class="applicationtitle ml-8">ANGULAR DEMO APP</h2>
    <button mat-icon-button matSidenavToggler="mobile">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

</mat-list>

<mat-divider></mat-divider>

<mat-list>

  <mat-list-item matSidenavToggler="mobile">
    <span class="cursorpointer">
      <a class="link" routerLink='home' routerLinkActive="active">Home</a>
    </span>
  </mat-list-item>

  <mat-list-item matSidenavToggler="mobile">
    <span class="cursorpointer">
      <a class="link" routerLink='grid' routerLinkActive="active">Grid</a>
    </span>
  </mat-list-item>

  <mat-list-item matSidenavToggler="mobile">
    <span class="cursorpointer">
      <a class="link" routerLink='table' routerLinkActive="active">Table</a>
    </span>
  </mat-list-item>

  <mat-list-item matSidenavToggler="mobile">
    <span class="cursorpointer">
      <a class="link" routerLink='feature' routerLinkActive="active">Feature</a>
    </span>
  </mat-list-item>

  <mat-list-item matSidenavToggler="mobile">
    <span class="cursorpointer">
      <a class="link" routerLink='examples' routerLinkActive="active">Examples</a>
    </span>
  </mat-list-item>

</mat-list>