<div class="container" fxLayout="column" fxLayoutGap="24px">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex.gt-md="60" fxFlex="100" class="mat-elevation-z2" style="padding: 5px 16px 5px 16px; background-color: white">
      <app-add-todo (emitOnAddTodo)=onAddTodo($event)></app-add-todo>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxFlex.gt-md="40" fxFlex="60">
      <h2 class="bottom-margin-zero">
        Todo List
        <button [disabled]="isRemoveDoneTodosDisabled" (click)="onRemoveDoneTodos()" matTooltip="Remove Done Todos"
          matTooltipPosition="after" mat-icon-button class="todos-filter" color="warn">
          <mat-icon svgIcon="delete"></mat-icon>
        </button>
        <button class="todos-filter" mat-icon-button [matMenuTriggerFor]="todosFilter">
          <mat-icon fontSet="fas" fontIcon="fa-filter"></mat-icon>
        </button>
        <mat-menu class="todos-filter-menu-overlay" #todosFilter="matMenu" xPosition="before">
          <button mat-menu-item (click)="onFilterTodos('ALL')" [ngClass]="{ active: filterType === 'ALL' }">
            <mat-icon svgIcon="done_all"></mat-icon>
            <span>All</span>
          </button>
          <button mat-menu-item (click)="onFilterTodos('DONE')" [ngClass]="{ active: filterType === 'DONE' }">
            <mat-icon svgIcon="done"></mat-icon>
            <span>Done</span>
          </button>
          <button mat-menu-item (click)="onFilterTodos('ACTIVE')" [ngClass]="{ active: filterType=== 'ACTIVE' }">
            <mat-icon>star</mat-icon>
            <span>Active</span>
          </button>
        </mat-menu>
        <mat-chip-list class="todos-filter-info">
          <mat-chip>
            Displaying {{filterType !== 'ALL' ? todos?.length : ''}}
            {{filterType.toLowerCase()}}
            {{filterType === 'ALL' ? todos?.length: ''}} todos
          </mat-chip>
        </mat-chip-list>
      </h2>
      <app-todo-list [todos]=todos (onUpdateTodo)="onUpdateTodo($event)"></app-todo-list>
    </div>
  </div>
</div>