$vrtx-deep-purple: (
  50: #eae5f0,
  100: #cbbdd9,
  200: #a992bf,
  300: #8666a5,
  400: #6c4592,
  500: #52247f,
  600: #4b2077,
  700: #411b6c,
  800: #381662,
  900: #280d4f,
  A100: #b286ff,
  A200: #9153ff,
  A400: #7120ff,
  A700: #610755,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white
  )
);

$vrtx-light-purple: (
  50: #efe6f0,
  100: #d8bfda,
  200: #be95c1,
  300: #a36ba8,
  400: #904b96,
  500: #7c2b83,
  600: #74267b,
  700: #692070,
  800: #5f1a66,
  900: #4c1053,
  A100: #f28bff,
  A200: #ec58ff,
  A400: #e625ff,
  A700: #e30cff,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity
  )
);

$vrtx-blue: (
  50: #e0f0f8,
  100: #b3d9ee,
  200: #80c0e3,
  300: #4da7d7,
  400: #2694cf,
  500: #0081c6,
  600: #0079c0,
  700: #006eb9,
  800: #0064b1,
  900: #0051a4,
  A100: #cee3ff,
  A200: #9bc6ff,
  A400: #68a8ff,
  A700: #4f9aff,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity
  )
);

$vrtx-steel-blue: (
  50: #eceff1,
  100: #cfd8dc,
  200: #b0bec5,
  300: #90a4ad,
  400: #78919c,
  500: #607d8a,
  600: #587582,
  700: #4e6a77,
  800: #44606d,
  900: #334d5a,
  A100: #aae2ff,
  A200: #77d0ff,
  A400: #44bfff,
  A700: #2ab6ff,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity
  )
);

$vrtx-orange: (
  50: #fff3e0,
  100: #ffe0b3,
  200: #ffcb80,
  300: #feb64d,
  400: #fea726,
  500: #fe9700,
  600: #fe8f00,
  700: #fe8400,
  800: #fe7a00,
  900: #fd6900,
  A100: #ffffff,
  A200: #fff6f1,
  A400: #ffd5be,
  A700: #ffc4a4,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity
  )
);

$vrtx-angular-primary: (
  50: #e9f2f3,
  100: #c8dfe2,
  200: #a3cacf,
  300: #7eb5bc,
  400: #63a5ad,
  500: #47959f,
  600: #408d97,
  700: #37828d,
  800: #2f7883,
  900: #206772,
  A100: #b1f3ff,
  A200: #7eecff,
  A400: #4be4ff,
  A700: #31e0ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$vrtx-angular-accent: (
  50: #ebebeb,
  100: #cecece,
  200: #aeaead,
  300: #8d8d8c,
  400: #747473,
  500: #5c5c5a,
  600: #545452,
  700: #4a4a48,
  800: #41413f,
  900: #30302e,
  A100: #f5f58d,
  A200: #f0f05f,
  A400: #ffff1d,
  A700: #ffff03,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$vrtx-angular-warn: (
  50: #f9e9ea,
  100: #efc9ca,
  200: #e4a5a7,
  300: #d98083,
  400: #d16569,
  500: #c94a4e,
  600: #c34347,
  700: #bc3a3d,
  800: #b53235,
  900: #a92225,
  A100: #ffe5e5,
  A200: #ffb2b3,
  A400: #ff7f81,
  A700: #ff6567,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
